extends _layout.pug

block local
  - var title = "index.html";

block content
  h1 hello world!! from pub
  h2 this is a test for live reload
  img(src="../images/icon.png")
  img(src="../images/thumbnail.jpg")
  div#react-root
